@{
    ViewBag.Title = "_Computer";
}

<div class="col-md-3" style="border:solid 1px;">
    <div class="computerheader">
        <h1 class="text-center">Computer</h1>
    </div>

    <div class="col-md-12" id="computerDeckDiv">

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mt-4">
                <div class="card">
                    <img class="card-img-top" src="~/Content/images/death_star.jpeg">
                    <div class="card-block">
                        <h4 class="card-title text-center">The Dark Side</h4>
                        <div class="meta bg-success">
                            Cost in Credits : <strong id="computerCostInCredits"> ??? </strong>
                        </div>
                        <div class="meta bg-primary">
                            Hyperdrive Rating : <strong id="computerHyperDriveRatings"> ??? </strong>
                        </div>
                        <div class="meta bg-danger">
                            Top Speed : <strong id="computerTopSpeed"> ??? </strong>
                        </div>
                        <div class="meta bg-info">
                            Number of films : <strong id="computerNumberOfFilms"> ??? </strong>
                        </div>
                        <div class="meta bg-warning">
                            Crew Required : <strong id="computerCrewRequired"> ??? </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="text-center" style="display: inline-block;">Computer Card Deck : </h3>
        <strong style="font-size:x-large" id="computerCardDeckSize">0</strong>
        <br />

    </div>










</div>

